  html,body{
      margin:0px; padding: 0px; border: 0px; position: fixed;  bottom: 0px; background: transparent;
  }

  .customer_online_message button {
    background-color: #f2f2f2;
  }

  .customer_online_message{

  }

  .customer_online_message .app {
    width: 356px;
    background-color: white;
    border: 1px solid #000000;
  }

  .customer_online_message .app .header {
    /* Rectangle 1: */
    padding: 11px 19px 0 19px;
    background: #222222;
    height: 39px;
  }
  .customer_online_message .app .header .power{
    background-image: url('/client/image/head.png');
    background-size: 27px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 27px;
    height: 27px;
  }

  .customer_online_message .app .header span {
    vertical-align: text-bottom;
    font-family: PingFangTC-Regular;
    font-size: 14px;
    margin-left: 8px;
    color: #FFFFFF;
    line-height: 31px;
  }

  .customer_online_message .app .header input {
    vertical-align: bottom;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: inset 0px 1px 0px 0px #ECECEC;
    border-radius: 5px;
    float: right;
    font-size: 14px;
    height: 25px;
  }

  .customer_online_message .app .header .right-img {
    float: right;
    margin-left: 10px
  }

  .customer_online_message .app .textArea {
    padding: 22px 18px 0 18px;
    height:500px;
    overflow:auto;
  }

  .customer_online_message .app .textArea .time {
    background: #F4F4F4;
    border-radius: 4px;
    font-family: HelveticaNeue;
    font-size: 10px;
    color: #BFBFBF;
    line-height: 30px;
    height: 30px;
    text-align: center;
    margin-bottom: 22px;
  }
  .customer_online_message .app .textArea .message {
    width: 100%;
    display: inline-block;
    margin-bottom: 5px;
  }

  .customer_online_message .app .textArea .message_time {
    font-family: HelveticaNeue;
    font-size: 10px;
    color: #BFBFBF;
    line-height: 12px;
  }

  .customer_online_message .app .textArea .message_left {
    float: left;
  }

  .customer_online_message .app .textArea .message_left .message_block {
    background: #DFF0D8;
  }

  .customer_online_message .app .textArea .message_right {
    float: right;
  }

  .customer_online_message .app .textArea .message_right .message_block {
    background: #D9EDF7;
  }

  .customer_online_message .app .textArea .message_block {
    /* Rectangle 15: */
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    word-break: break-all;
    max-width: 200px;
    font-family: HelveticaNeue;
    font-size: 14px;
    color: #000000;
    line-height: 16px;
    padding: 10px 20px;
  }

  .customer_online_message .app .inputArea .text {
    width:274px;
    height:30px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: inset 0px 1px 0px 0px #ECECEC;
    border-radius: 5px;
  }
  .customer_online_message .app .inputArea .button{
    padding-bottom: 12px;

    background-image: url("/client/image/submit.png");
    background-repeat:no-repeat;
    background-size: contain;
    border:2px #9999FF none;
    width: 78px;
    height: 33px;
  }

  .example-leave {
    display:none;
  }

  .example-enter {
    opacity: 0.01;
  }

  .example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }