  html,
  body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    position: fixed;
    bottom: 0px;
    background: transparent;
  }

  .app {
    border: #000000 1px solid;
    height: 500px;
    position:relative;
  }


  .field {
    margin-top:150px;
  }

  .inputArea {
    position:absolute;
    bottom:0;
  }

  .text{
    width:190px;
    float:left;
  }

  .button{
    float:right;

  }