  html,body{
      margin:0px; padding: 0px; border: 0px; position: fixed;  bottom: 0px; background: transparent;
  }

  .app {
    border:#000000 1px solid;
  }

  .example-leave {
    display:none;
  }

  .example-enter {
    opacity: 0.01;
  }

  .example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }